[Desktop Entry]
Type=Application
Name=Login script
Comment=Script that runs after login
Exec=bash -c "$HOME/.config/autostart/login.sh"
Terminal=false
StartupNotify=false
Categories=Utility;Application;

