[Desktop Entry]
Type=Application
Name=Login script
Comment=Script that runs after login
Exec=bash -c "$HOME/.local/bin/login-script.sh"
Terminal=false
StartupNotify=false
Categories=Utility;Application;

